:root {
  --cls-white: hsl(0, 0%, 100%);
  --cls-light-gray: hsl(212, 45%, 89%);
  --cls-grayish-blue: hsl(220, 15%, 55%);
  --cls-dark-blue: hsl(218, 44%, 22%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--cls-light-gray);
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
}

img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 5px;
  padding: 10px;
}
p {
  color: var(--cls-grayish-blue);
  padding: 20px;
  margin-bottom: 10px;
}
.container{
  background: var(--cls-white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 375px;
  border-radius: 20px;
}
